body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.containerMindMap{
    width: 100%;
    height: 100%;
    background-color: #000000;
}